@model PtixiakiReservations.Models.Table

@{
    ViewData["Title"] = "test";
}

<h1>test</h1>

<div class="row">
    <div class="col-md-4">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="people" class="control-label"></label>
            <input asp-for="people" class="form-control" id="people" value="0"></input>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" id="create" />
            <input type="submit" value="Save" class="btn btn-primary" id="save" />
        </div>
        <canvas id="c" width="600" height="600" style="border:1px solid #000000;"></canvas>
        @section Scripts{
            <script>
                var canvas = new fabric.Canvas('c');             
                $("#create").click(function () {
                    var rect = new fabric.Rect({
                        width: 100,
                        height: 100,
                        fill: '#eef',
                        scaleY: 0.5,
                        originX: 'center',
                        originY: 'center'
                        
                    });
                    var a = $("#people").val();
             
                   var text = new fabric.Text(a, {
                     fontSize: 15,
                     originX: 'center',
                     originY: 'center',
                     selectable:false
                   });

                   

                    var group = new fabric.Group([rect, text], {
                        left: 150,
                        top: 100, 
                        subTargetCheck: true,
                        hasControls: false,
                        angle: 0
                    });
                    
                    canvas.add(group);  
                    canvas.add(text);  
                   
              //     group.on('mousedown', function () {
              //          group.item(0).set('fill', 'red');
 
             //       }); 

                });

                $("#save").click(function () {
                    var tmp = {};
                     var tables = [];                   
                    
                     var canvasObjects = canvas.getObjects();
                    for (obj in canvasObjects) {                     
                      if (canvasObjects[obj].get('type') == 'group') {
                          tmp.top = canvasObjects[obj].get('top');  
                          tmp.left = canvasObjects[obj].get('left');   
                        }
                        if (canvasObjects[obj].get('type') == 'text') {                        
                            tmp.text = canvasObjects[obj].get('text');                         
                             tables.push(tmp);                           
                            tmp = {};
                        }           
                    }                                                
                  $.ajax(
                 {
                    type: "post",
                    url: '@Url.Action("Test2", "Table")',
                   dataType: 'json',
                          contentType: 'application/json; charset=utf-8',
                          data: JSON.stringify(tables),                   
                          success: function (data) { alert("saved"); },
                          error: function (data) { alert("fail to save");},
                    accept: 'application/json'
                    })
                });         
            </script>
        }

